html {
  position: relative;
  margin: 0px;
  top: 0px;
  left: 200px;
  width: 900px;
  background-color: black;
  background-image: url("/images/narnmu5eofo.png");
  overflow: scroll;

  body {
    margin: 0px;

    a {
      text-decoration: none;
      color: rgb(71, 166, 195);
    }
    a:hover {
      text-decoration: underline;
    }

    .main {
      color: rgb(180, 180, 180);
      margin: 25px;
      width: 630px;
      a {
        text-decoration: none;
        color: rgb(71, 209, 252);
      }
      a:hover {
        text-decoration: underline;
      }

      a.not-link {
        text-decoration: none;
        color: rgb(180, 180, 180);
      }

      table {
        margin-top: 50px;
        td {
          padding-right: 60px;
          padding-left: 60px;
        }
      }
    }
  }
}
