html {
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 200px;
  background-image: url("/images/narnmu5eofo.png");

  body {
    margin: 0px;
    height: 1000px;
    background-color: rgb(227, 227, 227);
  }
}
