.profile {
  position: absolute;
  width: 230px;
  left: 685px;
  top: 380px;

  .head {
    background-color: rgb(255, 255, 255);
    width: 215px;
    margin: 2px;
    padding-bottom: 2px;
    border: 1px;
    border-left: 4px;
    border-right: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  .head span {
    font-weight: bold;
    margin: 0px 10px;
    padding: 2px;
  }
  .head dd {
    margin-left: 10px;
    border-bottom: 1px;
  }
  .head p {
    margin-left: 3px;
    font-size: 12px;
  }

  img {
    margin: 15px 30px;
  }
}
